/* By Mason Guinn */


/* Targeting default obsidian and plugins */

h1, h2 {
    padding: 0;
    margin-top: 10px !important;
}

/* Making drop-down for headers easier to see (DARK-MODE) */
.theme-dark .view-content .is-collapsed .collapse-indicator svg.svg-icon, .theme-dark .view-content .collapse-indicator svg.svg-icon {
    color: white;
}

/* Making drop-down for headers easier to see (LIGHT-MODE) */
.theme-light .view-content .is-collapsed .collapse-indicator svg.svg-icon, .theme-light .view-content .collapse-indicator svg.svg-icon {
    color: black;
}

/* Making section-header better looking */
.section-heading {
    border-bottom: none;
    padding: 2px 25px 5px 25px;
    border-radius: 12px;
    transition: box-shadow 0.25s ease, transform 0.25s ease;
}

/* Making section-header better looking (DARK-MODE)*/
.theme-dark .section-heading {
    background-color: #9c5812;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #ffffff 0 -3px 0 inset
}

/* Making section-header better looking (LIGHT-MODE)*/
.theme-light .section-heading {
    background-color: #E1BEE7;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D8BFD8 0 -3px 0 inset
}

/* Making section-header better looking [Hover-State] (DARK-MODE)*/
.theme-dark .section-heading:hover {
    box-shadow: rgba(142, 150, 163, 0.4) 0 4px 8px, rgba(121, 112, 139, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

/* Making section-header better looking [Hover-State] (LIGHT-MODE)*/
.theme-light .section-heading:hover {
    box-shadow: rgba(142, 150, 163, 0.4) 0 4px 8px, rgb(0, 0, 0) 0 7px 13px -3px, #a25aac 0 -3px 0 inset;
}


/* Fix code block comments in read-mode */
.comment {
    display:initial;
}

/* Music Player Buttons */
.vert > div {
    background-color: transparent;
}

/* Global Navigation Drop-Down Menu (LIGHT-MODE) */
.theme-light>div.menu.note-toolbar-menu,
.theme-light>div.menu {
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    border-width: 0;
}

/* Global Navigation Drop-Down Menu (DARK-MODE) */
.theme-dark>div.menu.note-toolbar-menu,
.theme-dark>div.menu {
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #dbcfcf 0 -3px 0 inset;
    border-width: 0;
}

#\35 e8c9836-dbfc-47c9-ae82-f6880f9e0a8d>div>div>div>ul>li> {
    padding-left: 0;
}

/* Global Navigation Buttons MAIN */
#\35 e8c9836-dbfc-47c9-ae82-f6880f9e0a8d>div>div>div>ul>li>span {
    padding: 0;
    align-items: center;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    transition: box-shadow 0.25s ease, transform 0.25s ease;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

/* Global Navigation Buttons [Normal-State] (LIGHT-MODE) */
.theme-light #\35 e8c9836-dbfc-47c9-ae82-f6880f9e0a8d>div>div>div>ul>li>span {
    background-color: #FCFCFD;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    color: #36395A;
}

/* Global Navigation Buttons [Normal-State] (DARK-MODE) */
.theme-dark #\35 e8c9836-dbfc-47c9-ae82-f6880f9e0a8d>div>div>div>ul>li>span {
    background-color: #333;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #665e5e 0 -3px 0 inset;
    color: #FCFCFD;
}

/* Global Navigation Buttons [Hover-State] (LIGHT-MODE) */
.theme-light #\35 e8c9836-dbfc-47c9-ae82-f6880f9e0a8d>div>div>div>ul>li>span:hover {
    box-shadow: rgba(35, 47, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-4px);
    transition: transform 0.80s ease-out, box-shadow 0.80s ease-out;
}

/* Global Navigation Buttons [Hover-State] (DARK-MODE) */
.theme-dark #\35 e8c9836-dbfc-47c9-ae82-f6880f9e0a8d>div>div>div>ul>li>span:hover {
    box-shadow: rgba(142, 150, 163, 0.4) 0 4px 8px, rgba(121, 112, 139, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-4px);
    transition: transform 0.80s ease-out;
}

/* Global Navigation Buttons [Active-State] (LIGHT-MODE) */
.theme-light #\35 e8c9836-dbfc-47c9-ae82-f6880f9e0a8d>div>div>div>ul>li>span:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(4px);
    transition: transform .05s ease, box-shadow 0.15s ease;
}

/* Global Navigation Buttons [Active-State] (DARK-MODE) */
.theme-dark #\35 e8c9836-dbfc-47c9-ae82-f6880f9e0a8d>div>div>div>ul>li>span:active {
    box-shadow: #60606b 0 3px 7px inset;
    transform: translateY(4px);
    transition: transform .05s ease, box-shadow 0.15s ease;
}

/* Global Navigation Buttons [Focused-State] (LIGHT-MODE) */
.theme-light #\35 e8c9836-dbfc-47c9-ae82-f6880f9e0a8d>div>div>div>ul>li>span:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

/* Global Navigation Buttons [Focused-State] (DARK-MODE) */
.theme-dark #\35 e8c9836-dbfc-47c9-ae82-f6880f9e0a8d>div>div>div>ul>li>span:focus {
    box-shadow: #3d3d44 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #323236 0 -3px 0 inset;
}

/* Global Navigation Backword & Forward Buttons */
#\35 e8c9836-dbfc-47c9-ae82-f6880f9e0a8d > div > div > div > ul > li:nth-child(9) > span,
#\35 e8c9836-dbfc-47c9-ae82-f6880f9e0a8d > div > div > div > ul > li:nth-child(10) > span {
    border-radius: 15px;
    text-align: center;
    width: 40px;
    height: 40px;
    padding: 0;
}


/* Targeting own html, using my own classes */

/* Title Headers */
.inline-title {
    text-align: center;
    border-radius: 15px;
    padding: 16px;
    margin-bottom: 20px;
}

/* Title Headers (LIGHT-MODE) */
.theme-light .inline-title {
    color: #36395A;
    background-color: #FFCCBC;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D2B48C 0 -3px 0 inset;
}

/* Title Headers (DARK-MODE) */
.theme-dark .inline-title {
    color: #E1E1E1;
    background-color: #1C3543;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #ffffff 0 -3px 0 inset;
}

.content-menu {
    margin-bottom: 50px;
}

/* Get rid of that annoying gray list-bullet that shows on html made buttons */
.content-menu .list-bullet {
    display: none;
}

/* Fix the spacing for the header */
.content-menu h2 {
    margin-block-end: 10px;
}

/* Button Styling for .content-menu class */
.content-menu ul {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: stretch;
}

/* Button Styling for .content-menu class */
.content-menu ul li {
    margin: 5px 5px;
    flex: 1 0 30%;
    display: flex;
    justify-content: center;
}

/* Button Styling for .content-menu class */
.content-menu ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    transition: background-color 0.6s;
}

.theme-light .content-menu ul li a {
    background-color: #FFCCBC;
}

.theme-dark .content-menu ul li a {
    background-color: #1C3543;
}

/* Button Styling for .content-menu class [Hover State] */
.theme-light .content-menu ul li a:hover {
    background-color: #D2B48C;
}

/* Button Styling for .content-menu class [Hover State] */
.theme-dark .content-menu ul li a:hover {
    background-color: #2E5A6B;
}


/* Button Styling for .content-menu class */
.content-menu ul li a span {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Button Styling for .content-menu class */
.theme-light .content-menu ul li a span {
    color: black;
}

/* Button Styling for .content-menu class */
.theme-dark .content-menu ul li a span {
    color: white;
}